/* .products-heading {
    background: url("../images/products-heading.jpg");
}

.about-heading {
    background: url(".../images/about-heading.jpg");
}

.contact-heading {
    background: url(".../images/contact-heading.jpg");
} */

.products {
    margin-top: 100px;
}

.products .filters {
    text-align: center;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    margin-bottom: 60px;
}

.products .filters li {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    color: #121212;
    display: inline-block;
    margin: 0px 10px;
    transition: all .3s;
    cursor: pointer;
}

.products .filters ul li.active,
.products .filters ul li:hover {
    color: #f33f3f;
}

.products ul.pages {
    margin-top: 30px;
    text-align: center;
}

.products ul.pages li {
    display: inline-block;
    margin: 0px 2px;
}

.products ul.pages li a {
    width: 44px;
    height: 44px;
    display: inline-block;
    line-height: 42px;
    border: 1px solid #eee;
    font-size: 15px;
    font-weight: 700;
    color: #121212;
    transition: all .3s;
}

.products ul.pages li a:hover,
.products ul.pages li.active a {
    background-color: #f33f3f;
    border-color: #f33f3f;
    color: #fff;
}

.page-heading {
    padding: 210px 0px 130px 0px;
    text-align: center;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.page-heading .text-content h4 {
    color: #f33f3f;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 15px;
}

.page-heading .text-content h2 {
    color: #fff;
    font-size: 62px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

#preloader {
    overflow: hidden;
    background: #f33f3f;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: fixed;
    z-index: 9999999;
    color: #fff;
}

#preloader .jumper {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: block;
    position: absolute;
    margin: auto;
    width: 50px;
    height: 50px;
}

#preloader .jumper>div {
    background-color: #fff;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    position: absolute;
    opacity: 0;
    width: 50px;
    height: 50px;
    -webkit-animation: jumper 1s 0s linear infinite;
    animation: jumper 1s 0s linear infinite;
}

#preloader .jumper>div:nth-child(2) {
    -webkit-animation-delay: 0.33333s;
    animation-delay: 0.33333s;
}

#preloader .jumper>div:nth-child(3) {
    -webkit-animation-delay: 0.66666s;
    animation-delay: 0.66666s;
}

@-webkit-keyframes jumper {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    5% {
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0;
    }
}

@keyframes jumper {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    5% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}