.item img {
	height: 600px;
	overflow: hidden;
	object-fit: cover;
}

.caption {
	top: 50%;
    transform: translateY(-50%);
}

.caption h3 {
	color: #f33f3f;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 15px;
}

.caption p {
	color: #fff;
    font-size: 62px;
    text-transform: uppercase;
    letter-spacing: 5px;color: #fff;
    font-size: 62px;
    text-transform: uppercase;
    letter-spacing: 5px;
}