.productItem{
    border: 1px solid #eee;
    margin-bottom: 30px;
    position: relative;
}

.productItem img{
    height: 200px;
    object-fit: cover;
    cursor: pointer;
}

.downContent{
    padding: 30px;
    position: relative;
}

.downContent h4{
    font-size: 17px;
    color: #1a6692;
    margin-bottom: 20px;
    cursor: pointer;
}

.downContent h6{
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 18px;
    color: #121212;
}

.downContent p{
    font-size: 14px;
    font-weight: 300;
    color: #4a4a4a;
    line-height: 24px;
}

.start {
    padding: 0;
    margin: 0;
    list-style: none;
}

.start li {
    display: inline-block;
}

.review{
    position: absolute;
    right: 30px;
    bottom: 30px;
    font-size: 13px;
    color: #f33f3f;
    font-weight: 500;
    cursor: pointer;
}