/* find us */
.findUs{
	margin-top: 100px;
}

.leftContent{
	margin-left: 30px;
}

.leftContent h4 {
	font-size: 17px;
	color: #1a6692;
	margin-bottom: 20px;
}

.leftContent p{
	border-bottom: 1px solid #eee;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.map iframe{
	width:100%;
	height:330px;
	border:0;
}

/* Send Message */

.sendMessage {
	margin-top: 100px;
}

.sendMessage button {
	line-height: initial;
}
.contactForm {
	font-size: 14px;
	width: 100%;
	height: 44px;
	display: inline-block;
	line-height: 42px;
	border: 1px solid #eee;
	border-radius: 0px;
	margin-bottom: 30px;
}


.contactForm input {
	font-size: 14px;
	width: 100%;
	height: 44px;
	display: inline-block;
	line-height: 42px;
	border: 1px solid #eee;
	border-radius: 0px;
	margin-bottom: 30px;
}

.contactForm input:focus {
	box-shadow: none;
	border: 1px solid #eee;
}

.contactForm textarea {
	font-size: 14px;
	width: 100%;
	min-width: 100%;
	min-height: 120px;
	height: 120px;
	max-height: 180px;
	border: 1px solid #eee;
	border-radius: 0px;
	margin-bottom: 30px;
}

.contactForm textarea:focus {
	box-shadow: none;
	border: 1px solid #eee;
}

.contactFormButtonFilled {
	background-color: #f33f3f;
	color: #fff;
	font-size: 14px;
	text-transform: capitalize;
	font-weight: 300;
	padding: 10px 20px;
	border-radius: 5px;
	display: inline-block;
	transition: all 0.3s;
	border: none;
	outline: none;
	cursor: pointer;
}

.contactFormButtonFilled:hover {
	background-color: #121212;
	color: #fff;
}
.filledButton {
  margin-top: 20px;
}



/* Clients */

.happyClients {
	margin-top: 100px;
	margin-bottom: 40px;
}

.happyClients img{
	height: 190px;
	object-fit: cover;
}

 .clientItem  {
	max-width: 100%;
	overflow: hidden;
	transition: all .3s;
	cursor: pointer;
}

.happy-clients .client-item img:hover {
	opacity: 0.8;
}





/* // */
.latestContacts {
	margin-top: 100px;
}

 p {
	border-bottom: 1px solid #eee;
	padding-bottom: 30px;
	margin-bottom: 30px;
}

 h4 {
	font-size: 17px;
	color: #1a6692;
	margin-bottom: 20px;
}

 .leftContent {
	margin-left: 30px;
}

.fa-facebook::before{
	content: "\f09a";
}



/*  */
.accordion {
	margin-left: 30px;
	list-style: none;
}

.accordion{
	padding: 0;
    margin: 0;
    list-style: none;
	margin-left: 30px;
}

.accordion a {
	cursor: pointer;
	font-size: 17px;
	color: #1a6692!important;
	margin-bottom: 20px;
	transition: all .3s;
}

.accordion li {
	padding: 15px 0px;
} 

.accordion li a {
	cursor: pointer;
    font-size: 17px;
    color: #1a6692!important;
    margin-bottom: 20px;
    transition: all .3s;
	text-decoration: none;
}

.accordion li a:hover {
  color: #f33f3f!important;
}

.accordion li p {
  margin-top: 10px;
}


.textRight{
    text-align: right;
}
.a{
	text-decoration: none;
}



