.bestFeatures{
  margin-top: 100px;
}
.leftContent > p {
  margin-bottom: 25px;
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
  font-size: 14px;
  font-weight: 300;
  color: #4a4a4a;
  line-height: 24px;
}



/* Team member */
.teamMembers{
  margin-top: 100px;

}

.sectionHeading h2 {
  text-align: left;
  margin-bottom: 60px;
  border-bottom: 1px solid #eee;
}

.teamMember {
  border: 1px solid #eee;
  margin-bottom: 25px;
}

.thumbContainer {
  position: relative;
}

.teamMember img {
  width: 100%;
  overflow: hidden;
}

.downContent {
  padding: 20px;
  text-align: center;
}

.downContent h4 {
  font-size: 17px;
  color: #1a6692;
  margin-bottom: 8px;
}

.teamMember .downContent span {
  display: block;
  font-size: 13px;
  color: #f33f3f;
  font-weight: 500;
  margin-bottom: 20px;
}

.hoverEffect {
	position: absolute;
	background-color: rgba(243,63,63,0.9);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	visibility: hidden;
	transition: all .5s;
}

.hoverContent {
	position: absolute;
	display: inline-block;
	width: 100%;
	text-align: center;
	top: 50%;
	transform: translateY(-50%);
}

.socialIcons2{padding: 0;
	margin: 0;
	list-style: none;}
  .socialIcons2 li{
    display: inline-block;
  }
  .socialIcons2 li 
  {
    width: 50px;
    height: 50px;
    display: inline-block;
    line-height: 50px;
    background-color: #eee;
    color: #121212;
    font-size: 18px;
    text-align: center;
    transition: all .3s;
    margin-right: 3px;
  }


.socialIcons2 li a:hover {
	background-color: #fff;
	color: #f33f3f;
}

.teamMember:hover .hoverEffect {
	visibility: visible;
	opacity: 1;
}

/* services */
.services {
  padding-top: 100px;
  padding-bottom: 100px;
  background-image: url(https://media.istockphoto.com/photos/this-one-match-perfect-with-me-picture-id1293366109?b=1&k=20&m=1293366109&s=170667a&w=0&h=2z_h2WlM3291IRKFXrdmtObnCt93rNNdNN6mqvnKD1I=);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.serviceItem {
  text-align: center;
}

.serviceItem .icon {
  background-color: #f7f7f7;
  padding: 40px;
}
.icon a
{
  width: 100px;
    height: 100px;
    display: inline-block;
    text-align: center;
    line-height: 100px;
    background-color: #f33f3f;
    color: #fff;
    font-size: 32px;
}

.downContenttent {
  background-color: #fff;
  padding: 40px 30px;
}
.downContenttent p {
  margin-bottom: 25px;
}

.downContenttent h4 {
  font-size: 17px;
  color: #1a6692;
  margin-bottom: 20px;
}

.downContenttent a {
  background-color: #f33f3f;
  color: #fff;
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 300;
  padding: 10px 20px;
  border-radius: 5px;
  display: inline-block;
  transition: all 0.3s;
  text-decoration: none;
}

.downContenttent a:hover{
  background-color: #121212;
    color: #fff;
}

/* happy clients */

.sectionHeadinging {
  text-align: left;
  margin-bottom: 60px;
  border-bottom: 1px solid #eee;
}

.sectionHeadinging h2 {
  font-size: 28px;
  font-weight: 400;
  color: #1e1e1e;
  margin-bottom: 15px;
}

.owl {
  display: block;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  position: relative;
  z-index: 1;
}

.owlStageOuter {
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0px, 0px, 0px);
}

.owlStage {
  position: relative;
  touch-action: manipulation;
  display: flex;
  justify-content: center;
}

.owlItem {
  width: 155px;
  margin-right: 30px;
  user-select: none;
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-transform: translate3d(0, 0, 0);
}

.clientItem img {
  display: block;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  transition: all 0.3s;
  cursor: pointer;
}

.happyClients{
  padding-top: 100px;
  padding-bottom: 100px;
}