.leftContent > p {
  margin-bottom: 25px;
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
  font-size: 14px;
  font-weight: 300;
  color: #4a4a4a;
  line-height: 24px;
}

.iconSocial {
  padding: 0;
  margin: 0;
  list-style: none;
}
.iconSocial li {
  display: inline-block;
  margin-right: 3px;
}

.iconSocial li a {
  width: 50px;
  height: 50px;
  display: inline-block;
  line-height: 50px;
  background-color: #eee;
  color: #121212;
  font-size: 18px;
  text-align: center;
  transition: all 0.3s;
}

/* Team member */

.sectionHeading h2 {
  text-align: left;
  margin-bottom: 60px;
  border-bottom: 1px solid #eee;
}

.teamMember {
  border: 1px solid #eee;
  margin-bottom: 25px;
}

.thumbContainer {
  position: relative;
}

.teamMember img {
  width: 100%;
  overflow: hidden;
}

.downContent {
  padding: 20px;
  text-align: center;
}

.downContent h4 {
  font-size: 17px;
  color: #1a6692;
  margin-bottom: 8px;
}

.teamMember .downContent span {
  display: block;
  font-size: 13px;
  color: #f33f3f;
  font-weight: 500;
  margin-bottom: 20px;
}

/* services */

.serviceItem {
  text-align: center;
}

.serviceItem .icon {
  background-color: #f7f7f7;
  padding: 40px;
}

.downContenttent {
  background-color: #fff;
  padding: 40px 30px;
}
.downContenttent p {
  margin-bottom: 25px;
}

.downContenttent h4 {
  font-size: 17px;
  color: #1a6692;
  margin-bottom: 20px;
}

.downContenttent a {
  background-color: #f33f3f;
  color: #fff;
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 300;
  padding: 10px 20px;
  border-radius: 5px;
  display: inline-block;
  transition: all 0.3s;
  text-decoration: none;
}

/* happy clients */

.sectionHeadinging {
  text-align: left;
  margin-bottom: 60px;
  border-bottom: 1px solid #eee;
}

.sectionHeadinging h2 {
  font-size: 28px;
  font-weight: 400;
  color: #1e1e1e;
  margin-bottom: 15px;
}

.owl {
  display: block;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  position: relative;
  z-index: 1;
}

.owlStageOuter {
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0px, 0px, 0px);
}

.owlStage {
  position: relative;
  touch-action: manipulation;
}

.owlItem {
  width: 162px;
  margin-right: 30px;
  user-select: none;
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-transform: translate3d(0, 0, 0);
}

.clientItem img{
	display: block;
    width: 100%;
	max-width: 100%;
    overflow: hidden;
    transition: all .3s;
    cursor: pointer;
}
