.sectionTitle{
    flex: 0 0 100%;
    max-width: 100%;
}
.heading{
    text-align: left;
    margin-bottom: 60px;
    border-bottom: 1px solid #eee;
}
.heading h2{
    font-size: 28px;
    font-weight: 400;
    color: #1e1e1e;
    margin-bottom: 15px;
}

.heading a{
    float: right;
    margin-top: -35px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    color: #f33f3f;
    text-decoration: none;
}